dotnet/core/2.0/StudentsManager/StudentManager.Domain/bin/
dotnet/core/2.0/StudentsManager/StudentManager.Domain/obj/
dotnet/core/2.0/StudentsManager/StudentsManager/bin/
dotnet/core/2.0/StudentsManager/StudentsManager/obj/
dotnet/core/2.0/StudentsManager/StudentsManager.Api/bin/
dotnet/core/2.0/StudentsManager/StudentsManager.Api/obj/
dotnet/core/2.0/StudentsManager/StudentsManager.Data/bin/
dotnet/core/2.0/StudentsManager/StudentsManager.Data/obj/
dotnet/core/2.0/StudentsManager/StudentsManager.Api/Properties/PublishProfiles/
dotnet/core/2.0/StudentsManager/.vs/StudentsManager/v15/