.vs/
StudentsManager.Domain/bin/
StudentsManager.Domain/obj/
StudentsManager.Data/bin/
StudentsManager.Data/obj/
StudentsManager.Api/bin/
StudentsManager.Api/obj/
StudentsManager.Api/Properties/PublishProfiles/
StudentsManager.Api/StudentsManager.Api.csproj.user
